@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=Kdam+Thmor+Pro&family=Source+Code+Pro&family=Syncopate&display=swap');

#content {
    max-width: 1600px;
    margin: 0;
    background-color: #778076;
    min-height: 100vh;
    
    position: relative;
}

header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #443412;
    font-family: Syncopate, "Source Code Pro", Calibri;
    justify-content: center;
}

nav a {
    color: #c1c1c1;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    font-size: 115%;
    justify-items: center;
    align-items: center;

}

#build-and-play {
    grid-column: 2/4;
    margin: 40px;
}

#home-and-play {
    grid-column: 2/4;
    margin: 40px;
}

#home-and-build {
    grid-column: 2/4;
    margin: 40px;
}

#plan-and-contact {
    grid-column: 5/7;
    margin: 40px;
}

.button-box {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #778076;
}

.button-box:hover {
    background-color: #778076;
}

#logo_link {
    grid-column: 4/5;
    padding: 25px;
    align-self: center;
    justify-self: center;
    background-color: #443412;
}

.logo {
    width: 150px;
}

.home-grid {
    display: inline-block;
    background-color: #778076;
    color: white;
    font-family: "Chakra Petch";
    text-align: center;
    padding-bottom: 7rem;
}

h2 {
    font-family: Syncopate, "Source Code Pro", Calibri;
    text-align: center;
    color: #c1c1c1;
}

.card-img {
    width: 33%;
    margin: 50px;
    box-shadow: 5px 5px 10px #443412;
    transition: transform .5s;
}

.card-img:hover {
    transform: scale(1.1);
}

.old-edition-card{
    width: 50%;
    margin-left: 25%;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    display: flex;
    background-color: #443412;
    font-family: Syncopate, "Source Code Pro", Calibri;
    justify-content: space-around;
    background-color: #443412;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

h3 {
    font-size: 75%;
}

div a {
    color: #c1c1c1;
    text-align: center;
}

div a:hover {
    background-color: #778076;
    color: white;
}

footer .social img {
    width: 30px;
}

/* How to Build and Paint page */

.build-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-bottom: 7rem;
}

.completed-cadians{
    width: 133%;
    margin-left: 20%;
    margin-right: auto;
}

.paints{
    width: 133%;
    margin-left: 20%;
    margin-right: auto;
}

main p{
    color: white;
    font-family: "Chakra Petch";
}

/* How to Play page */

.play-grid {
    display: block;
    padding-bottom: 5rem;
}

h1 {
    font-family: Syncopate, "Source Code Pro", Calibri;
    text-align: center;
    color: #c1c1c1;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #c1c1c1;
    background-color: #778076;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    font-family: "Chakra Petch", "Bebas Neue", Calibri;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
    margin-left: 18%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #c1c1c1;
    color: #778076;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #c1c1c1;
    color: #778076;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #443412;
    border-top: none;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
    color: white;
    font-family: "Chakra Petch", "Bebas Neue", Calibri;
    font-size: 18px;
}

#Open_War{
    grid-template-columns: repeat(6, 1fr);
}

#Open_War h2{
    grid-column: 1/7;
}

#Open_War p{
    grid-column: 4/7;
}

.open-war-card {
    width: 133%;
    grid-column: 1/4;
    padding-left: 18%;
}

#Tournament{
    grid-template-columns: repeat(6, 1fr);
}

#Tournament p{
    grid-column: 1/4;
}

#Tournament h2{
    grid-column: 1/7;
}

.tournament-card {
    width: 133%;
    padding-left: 18%;
    grid-row: 2/3;
    grid-column: 4/7;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Contact Us Screen */

.contact-grid{
    padding-top: 10px;
}

form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
    color:#E1EFF6;
}

input, textarea{
    font:1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus{
    border-color: #000;
}

textarea{
    vertical-align: top;
    height: 5em;
}

.button{
    padding-left: 90px;
}

button{
    margin-left: .5em;
}

#feedback{
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
}

.moveDown{
    margin-top: 3em;
}

.destroyers_card{
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
}

.destroyers_card .card-img{
    width: 33%;
    box-shadow: none;
    transition: none;
    border: 2px solid #443412;
    }
    
.destroyers_card .card-img:hover {
    transform: none;
}

.thank_you_msg{
    text-align: center;
}

.final_remarks{
    margin-top: 50px;
    text-align: center;
}

li{
    font-family: "Chakra Petch", "Bebas Neue", Calibri;
}